.biography-box {
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
  justify-content: space-evenly;
  margin-top: -50px;
  padding: 16px;
}

.biography-text {
  width: 30rem;
  text-align: justify;
  margin-top: -50px;
}

.biography-text h2 {
  text-align: center;
}

.biography-hero {
  height: 100vh;
  width: 50vw;
  /* background-image: url(https://drive.google.com/uc?export=view&id=1y0aU-UnomBebs-k_Xh5UB2Ci8R63OiPy); */
  background-image: url('../../../public/assets/biografia/TP_PORTAFOLIO_ALEXIS\ FERNANDEZ_copia-16.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: -50px;
  /* position: absolute; */
  background-position: center;
}

@media (max-width: 1050px) {
  .biography-hero {
    background-position: top;
    margin-top: 0px;
    width: 300vw;
  }
  .biography-text {
    width: 100vw;
    margin-top: 0px;
  }
}



.biography-title-box {
  position: absolute;
  top: 50%;
  width: 50%;
  background-color: black;
  color: white;
  left: 25%;
  border-radius: 20px;
  opacity: 0.5;
  padding: 16px;
}

.biography-title-box p {
  line-height: 30px;
  font-size: 30px;
  font-weight: 500;
}

@media (max-width: 1000px) {
  .biography-title-box h1 {
    font-size: 20px;
  }

  .biography-title-box p {
    line-height: 20px;
    font-size: 15px;
    font-weight: 500;
  }
}
@media (max-width: 800px) {
  /* .hero {
    height: 100vh;
    width: 100%;
    background-image: url(https://drive.google.com/uc?export=view&id=1tQ0t54ylAwvfp2aawIAbgNzyPn6qAPtS);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -50px;
  } */
  .biography-title-box {
    width: 90%;
    left: 5%;
  }
}
