.css-uym98a-MuiImageList-root {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 80%;
}
/* 
import "./galery.css";

export const Galery = () => { */

.css-uob957-MuiListSubheader-root {
  background-color: black;
  color: white;
}

.singleImage {
  cursor: pointer;
  max-width: 90vh;
  max-height: 90vh;
  margin-top: -30px;
  /* width: 80%;
  height: 50vw; */
}

.multyImage {
  cursor: pointer;
}

.multyImage:hover {
  opacity: 0.8;
}

.css-i4bv87-MuiSvgIcon-root {
  height: 40px;
  width: 40px;
}

.imageContainer {
  /* position: absolute;
  background: transparent;
  height: 100vh;
  width: 100%;
  z-index: -100; */
  position: absolute;
  left: calc;
  left: calc(50vw - 372.5px);
}

.galeryContainer {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 52px;
}

.listContainer {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.listContainer li {
  margin-right: 2px;
  margin-top: 2px;
}

/* @media (max-width: 1200px) {
  .singleImage {
   height: 400px;
  width: 400px
  }
}

*/
@media (max-width: 800px) {
  .singleImage {
    width: 95%;
    /* height: 67vw; */
  }
}
 

.galery-item-background {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background: black;
  margin-top: -100px;
}
