.css-uym98a-MuiImageList-root {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 80%;
}
/* 
import "./galery.css";

export const Galery = () => { */

.css-uob957-MuiListSubheader-root {
  background-color: black;
  color: white;
}

.singleImage {
  cursor: pointer;
  max-height: 800px;
  max-width: 1200px;
}

.multyImage {
  cursor: pointer;
}

.multyImage:hover {
  opacity: 0.8;
}

.css-i4bv87-MuiSvgIcon-root {
  height: 40px;
  width: 40px;
}

.imageContainer {
  position: absolute;
  background: transparent;
  height: 100vh;
  width: 100%;
  z-index: -100;
}

.galeryContainer {
  display: flex;
  justify-content: center;
}

.listContainer {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.listContainer li {
  margin-right: 2px;
  margin-top: 2px;
}

@media (max-width: 800px) {
  .singleImage {
    width: 100%;
    height: 100vw;
  }
}

@media (max-width: 1800px) {
  .singleImage {
    height: 600px;
  }
}
