.hero {
  height: 100vh;
  width: 100vw;
  /* background-image: url(https://drive.google.com/uc?export=view&id=1tQ0t54ylAwvfp2aawIAbgNzyPn6qAPtS); */
  background-image: url(https://drive.google.com/uc?export=view&id=1T8GVoCS7kD31oeheEv7MKf8EylPs5tUZ);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -50px;
  position: absolute;
}

@media (max-width: 800px) {
  .hero {
    height: 100vh;
    width: 100vw;
    background-image: url(https://drive.google.com/uc?export=view&id=1tQ0t54ylAwvfp2aawIAbgNzyPn6qAPtS);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -50px;
  }
}


.title-box {
  position: absolute;
  top: 50%;
  width: 50%;
  background-color: black;
  color: white;
  left: 25%;
  border-radius: 20px;
  opacity: 0.5;
  padding: 16px;
}


.title-box p {
  line-height: 30px;
  font-size: 30px;
  font-weight: 500;
}

@media (max-width: 1000px) {

  .title-box h1 {
    font-size: 20px;
  }


  .title-box p {
    line-height: 20px;
    font-size: 15px;
    font-weight: 500;
  }
}