.css-11b3ww9-MuiPaper-root-MuiAppBar-root {
    background-color: black !important;
    color: white !important
}



.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
    background-color: black !important;
    color: white !important
}


svg {
    fill: white !important
}